<%- include("includes/head.ejs") %>
<body>
    <h1>This is Home Page</h1>
    <h2><%= "krishankaushik".toUpperCase() %></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quas nesciunt delectus porro itaque omnis expedita dolorem nobis obcaecati magni, necessitatibus excepturi unde placeat dolor velit aut eveniet. Consequuntur culpa, iusto, sunt aliquam eos sed delectus deleniti neque ducimus accusantium ratione id facilis cum? Voluptas praesentium molestias, consequuntur quaerat, perferendis eligendi exercitationem, velit autem assumenda ducimus aut rem voluptatem fugit quia officiis odio dolorem repudiandae cupiditate expedita laudantium? Neque reprehenderit dolorem quam quos excepturi ipsa quo atque sapiente 
    </p>
    <button>Click Me</button>
    <%- include("includes/footer.ejs") %>
</body>
